.card-body1{
    display: flex;
    justify-content: space-evenly;
}

.content-wrapper{
    display: flex;
    justify-content: space-around;
}

.modal-product-image{
    width: 300px;
    height: 400px;
    background-size: contain;
    margin-bottom: 30px;
}

.price{
    font-weight: 400;
    color: #9f9f9f;
    margin-bottom: 5px;
    font-size: 29px;
    margin: 20px 0 10px;
}

.description{
    color:#3a3a3a;
}

.num{
    margin: 0 15px;
    font-size: 20px;
}

.num-change{
    font-size: 20px;
    cursor: pointer;
}

.num-curt-wrapper{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.quantity, .total{
    font-size: 22px;
    color:#3a3a3a;
}

.number-change{
    cursor: pointer;
}