.title-wrapper{
    width: 150px;
    margin-left:0px;
}

.name{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-left: 20%;
}

.fashion{
    margin-left: 22%;
    letter-spacing: 8px;
}

.btn-wrapper{
    display: flex;
}