.wrapper {
  display: flex;
  flex-direction: column;
}

.social-sites-links{
  position: relative;
  width:130px;
  height: 24px;
  display: flex;
  justify-content: space-between;
}

.social-site-logo{
  width: 23px;
  height: 23px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;

}

.logo-fb{
  background-size:contain;
  width: 40px;
}

.social-site-logo:hover, .footer-item-logo:hover{
  opacity: 0.7;
  cursor: pointer;
}

.info{
  position: absolute;
  z-index: 2;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  background-color:rgb(234, 130, 130);
  padding: 3px 10px;
  top: -30px;
  left: 10px;
  padding: 5px 15px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.nav-menu-wrapper{
  display: flex;
  justify-content: space-evenly;
  margin:50px 0 70px;
}



